div {
    width: 600px;
    margin: auto;
    padding: 30px;
    background-color: #eeee;
    color: black;
    position: relative;

}

div::first-letter {
    content: "";
    padding: 10px;
    background-color: red;
    text-align: center;
    font-weight: bold;
    position: absolute;
    margin-right: 5px;
    margin-left: -45px
}