.parent {
    width: 800px;
    padding: 0px;
    background-color: #eee;
    text-align: center;
}

.parent div {
    float: left;
    background-color: rgb(181, 181, 211);
    margin-left: 15px;
    margin-bottom: 15px;
    padding: 15px 0;

}

.one {
    width: calc((100% - 30px) /1);
}

.two {
    width: calc((100% - 60px) / 3);
}

.three {
    width: calc((100% - 45px) / 2);
}

.four {
    width: calc((100% - 75px) / 4);
}

.clear {
    clear: both;
}