.assign-1-shape-1 {
    width: 500px;
    margin: auto;
    padding: 20px;
    background-color: blueviolet;
    background-color: rgb(54.12% 16.86% 88.63%);
    background-color: hsla(271, 76%, 53%)
}

.assign-1-shape-2 {
    width: 500px;
    margin: auto;
    padding: 20px;
    background-color: rgb(54.12% 16.86% 88.63% 0.5);
    background-color: hsla(271, 76%, 53%, 0.5);
}

.assign-1-shape-3 {
    width: 500px;
    margin: auto;
    padding: 20px;
    background-color: rgb(54.12% 16.86% 88.63% 0.1);
    background-color: hsla(271, 76%, 53%, 0.1);
}