.one,
.two,
.three {
    width: 400px;
    color: rgb(10, 9, 9);
    background-color: rgb(180, 170, 170);
    font-size: 20px;

}

.one {
    white-space: normal;
}

.two {
    white-space: nowrap;
    overflow: hidden;
}

.three {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}