* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout {
    padding: 10px;
    margin: 10px auto;
    width: 800px;
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 30px 1fr 30px;
    grid-template-areas: "head head head head head"
        "sect sect sect side side"
        "foot foot foot foot foot";
    width: full-scree;
}

header {
    grid-area: head;
    background-color: #03a9f4;


}

section {
    grid-area: sect;
    background-color: #ff5722;
}

aside {
    grid-area: side;
    background-color: #607d8b;
}

footer {
    grid-area: foot;
    background-color: #009688;
}

header::after {
    content: "Header";
    color: white;
    font-size: 20px;
    font-weight: bold;
}

section::after {
    content: "Section";
    color: white;
    font-size: 20px;
    font-weight: bold;
}

aside::after {
    content: "Aside";
    color: white;
    font-size: 20px;
    font-weight: bold;
}

footer::after {
    content: "Footer";
    color: white;
    font-size: 20px;
    font-weight: bold;
}