.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr;
    gap: 20px;

}

.grid div {
    background-color: #607d8b;
    color: white;
    counter-increment: number;
    display: flex;
    justify-content: center;
    align-items: center;

}

.grid div::after {
    content: "Element " counter(number);
}