div {
    width: 400px;
    background-color: #eee;
    color: black;
    padding: 20px;
    margin: auto;
    border-width: 4px;
    border-style: solid;
    border-color: red blue red blue;
    position: relative;
}

.top-left,
.bottom-left,
.top-right,
.bottom-right {
    width: 20px;
    background-color: blue;
    color: white;
    position: absolute;
    text-align: center;
}

.top-left {
    top: -10px;
    left: -10px;
    border-right: 3px solid red;
}

.top-right {
    top: -10px;
    right: -10px;
    border-left: 3px solid red;
}

.bottom-left {
    bottom: -10px;
    left: -10px;
    border-right: 3px solid red;
}

.bottom-right {
    bottom: -10px;
    right: -10px;
    border-left: 3px solid red;
    ;
}